<!DOCTYPE html>
<html>
   <head>
      <title>Pictionary</title>
      <meta name='viewport' content='width=device-width, initial-scale=1, user-scalable=no'> 
      <link rel="stylesheet" href="/css/style.css"/>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
   </head>

   <body>
        <div class='join-game-page'>
        <div class='center-align-outside'>
            <div class='center-align'>
                <div class='new-game-game-title'>JOIN GAME</div>
                    <form method='post' action='/join-game'>
                        <div class='join-game entry-button'>
                            <label>Name: </label><br>
                            <%if(typeof errorName == "undefined"){%>
                                <% } else { %>
                                <div class='error-message'><%= errorName %></div>
                            <%}%>
                            <input class='name' type='text' name='name' id='name' style='width: 200px; height:35px' autofocus maxlength="10" placeholder='Name here...'/>
                        </div>
                        <div class='join-game entry-button'>
                            <label>Code: </label><br>
                            <%if(typeof errorCode == "undefined"){%>
                                <% } else { %>
                                    <div class='error-message'><%= errorCode %></div>
                            <%}%>
                            <input class='codeNumber' type='text' name='codeNumber' id='codeNumber' style='width: 200px; height:35px' autofocus maxlength="4" placeholder='Four-digit code here...'/>
                        </div>
                        <div class='entry-button'>
                            <button>Join</button>
                        </div>
                    </form>
            </div>
        </div>
        </div>
   </body>
</html>

