<!DOCTYPE html>
<html>
   <head>
      <title>Pictionary</title>
      <meta name='viewport' content='width=device-width, initial-scale=1, user-scalable=no'> 
      <link rel="stylesheet" href="/css/style.css"/>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
   </head>

   <body>
       <div class='new-game-page'>
            <div class='center-align-outside'> 
                <div class='center-align'>
                    <div class='new-game-game-title'>NEW GAME</div>
                    <form method='post' action='/new-game'>
                        <div class='entry-button'>
                            <label>Name: </label><br>
                            <%if(typeof error == "undefined"){%>
                            <% } else { %>
                                <div class='error-message'><%= error %></div>
                            <%}%>
                            <input class='name' type='text' name='name' autofocus maxlength="10" placeholder='Name here...'/>
                        </div>
                        <div class='center'>
                            <div class='entry-button codeContainer'>
                                <div class='codeLabel' id='codeLabel'>
                                     Code:
                                 </div>
                                <div class='codeNum' id='codeNum'>
                                    <%= codeNumber %>
                                </div>
                            </div>
                        </div>
                        <div class='entry-button' style='display:none'>
                            <input type='text' name='codeNumber' id='code'/>
                        </div>                      
                        <div class='new-game entry-button'>
                            <button onClick="fillCodeNumber()">Join</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <script>
            function fillCodeNumber()
            {
                var target = document.getElementById('codeNum').innerHTML.trim();
                document.getElementById("code").value = target;
            };
        </script>
   </body>
</html>

